requests==2.28.1
Flask==2.2.2                # Flask framework
firebase-admin==5.2.0       # Firebase Admin SDK for server-side interactions
gunicorn==20.1.0            # WSGI HTTP Server for UNIX, useful for deploying Flask apps