html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@keyframes zoomPanBackground {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(1.2) translate(-20px, -20px);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/loginBG.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    /* Slightly reduced blur to make the image more visible */
    z-index: -2;
    animation: zoomPanBackground 30s ease-in-out infinite;
}

/* .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../static/img/loginBG.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
} */

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.signup-button {
    background-color: blue;
    color: white;
    border: 1px solid black;
    display: inline-flex;
    border-radius: 50px;
    font-size: 20px;
    justify-content: center;
    width: 80%;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

/* Regular login button hover effect */
.signup-button:hover {
    background-color: darkblue;
    /* Adjust the color as desired */
    color: white;
    border-color: darkblue;
    cursor: pointer;
}

/* static/styles.css
body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 10px;
} */