html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
}

.pink-box,
.yellow-box,
.green-box,
.leaderboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.pink-box {
    background-color: pink;
}

.pink-box p {
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold; /* Optional: makes the text bold */
}

.yellow-box {
    background-color: #d6eaf8;
}

.green-box {
    background-color: #d0ece7;
}

.yellow-box,
.green-box {
    margin-bottom: 10px;
}

.current-user {
    background-color: #ffc107; /* Gold background color for the current user */
    color: #000; /* Dark text color for contrast */
    font-weight: bold; /* Bold text for emphasis */
}
.leaderboard {
    background-color: #6698FF;
    border-radius: 12px; /* Rounded corners */
    padding: 20px; /* Padding for inner spacing */
}

.leaderboard h2 {
    color: #f8f9fa; /* Light color for the title */
    font-weight: 600; /* Bold title */
    font-size: 1.8rem; /* Larger font size for title */
}

.table {
    border-collapse: collapse; /* Collapse table borders for cleaner look */
    width: 100%; /* Full-width table */
}

.table th, .table td {
    padding: 12px; /* Space inside table cells */
    text-align: center; /* Center align text */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light border for rows */
}

.table th {
    color: #ffffff; /* White text for header */
    font-weight: bold;
    text-transform: uppercase; /* Uppercase header text */
}

.table tbody tr {
    transition: background-color 0.2s; /* Smooth transition for hover */
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
}

.table td {
    color: #f8f9fa; /* Light color for readability */
    font-size: 1rem; /* Standard font size */
}

/* Style for "You" to stand out */
.table td:contains("(You)") {
    font-weight: bold; /* Bold text for emphasis */
    color: #ffc107; /* Gold color for highlighting */
}

.leaderboard tr:nth-child(even) td {
    background-color: #60A5FA;
}

#boldNumber{
    font-weight: bold;
    font-size: 30px;
} 

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.chart-container {
    height: 300px; /* Set a height for the chart container */
    position: relative;
    margin-bottom: 15px; /* Adjust this value as needed */

}