html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

@keyframes zoomPanBackground {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(1.2) translate(-20px, -20px);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/loginBG.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -2;
    animation: zoomPanBackground 30s ease-in-out infinite;
}


#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 50px;
}

.login-button {
    background-color: #B22222 !important;
    color: white;
    border: 1px solid black;
    display: inline-flex;
    border-radius: 50px;
    font-size: 15px;
    justify-content: center;
    width: 40%;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.google-login-button {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 15px;
    width: 40%;
    font-weight: bold;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Success Modal */
#successModal .modal-content {
    border-radius: 10px;
}

#successModal .modal-body p {
    color: #333;
}

#successModal .modal-header h5 {
    display: flex;
    align-items: center;
}

.login-button:hover {
    background-color: #CD5C5C !important;
    color: white;
    cursor: pointer;
}

.google-login-button:hover {
    background-color: #f0f0f0;
    color: #000;
    border-color: #bbb;
    cursor: pointer;
}

.input-group input[type="email"]:focus {
    background-color: #f0f0f0;
    border-color: #ccc;
    outline: none;
    box-shadow: 0 0 5px #aaa;
}

.input-group input[type="password"]:focus {
    background-color: #f0f0f0;
    border-color: #ccc;
    outline: none;
    box-shadow: 0 0 5px #aaa;
}