@media (min-width: 768px) {
    #pointShopModal .modal-content {
        min-height: 500px;
        /* Minimum height for larger screens */
    }
}

@media (min-width: 992px) {
    #pointShopModal .modal-content {
        min-height: 750px;
        /* Minimum height for even larger screens */
    }
}

.item-img {
    height: 150px;
    object-fit: contain;
}

.card {
    padding-top: 20px;
    /* Adjust as needed */
}

#pointShopModal .modal-content {
    background: #fef5f3;
}

.border-danger {
    border-width: 3px !important; /* Adjust thickness as desired */
}

/* Background color for the entire tab bar */
#shopTab {
    background-color: #f8d7da; /* Light red background for the tab bar */
    border-radius: 5px;
    padding: 10px;
}

/* Styling for individual tabs */
#shopTab .nav-link {
    color: #495057; /* Text color */
    background-color: #ffffff; /* Background color for inactive tabs */
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

/* Active tab styling */
#shopTab .nav-link.active {
    color: #ffffff !important; 
    background-color: #d9534f; /* Background color for active tab */
    border-color: #d9534f;
}
