<!-- CSS Link -->
<link rel="stylesheet" href="../static/css/navbar.css">

<div id="navbar-placeholder">
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container-fluid">

            <!-- Navbar Toggler for Mobile View -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nvbr"
                aria-controls="nvbr" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Logo and Brand Name -->
            <div class="d-flex align-items-center">
                <img src="../static/img/sglostandfoundicon.png" alt="Logo"
                    class="rounded-circle border border-dark me-2" style="width: 40px; height: 40px;">
                <a class="navbar-brand fw-bold" style="color: #D30000;">SG Lost & Found</a>
            </div>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="nvbr">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a :class="['nav-link', activeTab === 'home' ? 'active' : '']" href="/"
                            @click="setActiveTab('home')">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a :class="['nav-link', activeTab === 'dash_board' ? 'active' : '']" href="/dash_board"
                            @click="setActiveTab('dash_board')">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a :class="['nav-link', activeTab === 'listing' ? 'active' : '']" href="/listing"
                            @click="setActiveTab('listing', $event)">
                            Post Listing
                        </a>
                    </li>
                </ul>


                <!-- Right-aligned Login or Profile Options -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <!-- <ul class="navbar-nav ms-auto mb-2 mb-md-0 d-flex align-items-center"> -->

                    <!-- Show Login if not logged in -->
                    <li v-if="!isLoggedIn" class="nav-item">
                        <a :class="['nav-link', activeTab === 'login' ? 'active' : '']" href="/login"
                            @click="setActiveTab('login')">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>


                    <!-- Notification Bell Icon with Dropdown -->
                    <li v-if="isLoggedIn" class="nav-item dropdown d-flex align-items-center ms-3">
                        <a class="nav-link" href="#" role="button" id="notificationDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false" style="display: flex; align-items: center;">
                            <i class="fas fa-bell"></i>
                            <span v-if="unreadCount > 0" class="badge bg-danger" v-text="unreadCount"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                            <li v-if="notifications.length === 0" class="dropdown-item">No new notifications</li>
                            <li v-for="(notification, index) in notifications" :key="index" class="dropdown-item"
                                @click="markNotificationAsRead(index)">
                                <span v-if="!notification.read" class="fw-bold" v-text="notification.message"></span>
                                <span v-else v-text="notification.message"></span>
                            </li>
                        </ul>
                    </li>


                    <!-- Points tracking -->
                    <div class="points-display" v-if="isLoggedIn" @click="showPointShop" style="cursor: pointer;">
                        <img src="../static/img/points-icon.png" alt="Points Icon" class="points-icon">
                        <span class="points" v-text="points + ' Points'"></span>
                    </div>

                    &nbsp; &nbsp; &nbsp; &nbsp;

                    <!-- Show Username dropdown if logged in -->
                    <li v-if="isLoggedIn" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i> <span v-text="username"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/user_profile">My Profile</a></li>
                            <li><a class="dropdown-item" href="#" @click="logout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Modal pop up for Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You need to log in to post a listing. Click "Ok" to be redirected to the login page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="startRedirectToLogin">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Loader spinner -->
<div v-if="showSpinner" class="overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<link rel="stylesheet" href="static/css/pointshop.css">

<div class="modal fade" id="pointShopModal" tabindex="-1" aria-labelledby="pointShopModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="pointShopModalLabel">Point Shop</h5>
                <div class="points-display" v-if="isLoggedIn">
                    <img src="../static/img/points-icon.png" alt="Points Icon" class="points-icon">
                    <span class="points" v-text="points + ' Points'"></span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Tabs for Border Shop and Background Shop -->
                <ul class="nav nav-tabs justify-content-center" id="shopTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="border-tab" data-bs-toggle="tab"
                            data-bs-target="#borderShop" type="button" role="tab" aria-controls="borderShop"
                            aria-selected="true">Border Shop</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="background-tab" data-bs-toggle="tab"
                            data-bs-target="#backgroundShop" type="button" role="tab" aria-controls="backgroundShop"
                            aria-selected="false">Background Shop</button>
                    </li>
                </ul>

                <!-- Tab Content for Border and Background Shop -->
                <div class="tab-content mt-3" id="shopTabContent">
                    <!-- Border Shop Tab Content -->
                    <div class="tab-pane fade show active" id="borderShop" role="tabpanel" aria-labelledby="border-tab">
                        <div class="row g-4 shop-section border-shop" id="border-shop">
                            <div class="col-lg-4 col-md-6" v-for="item in borderItems" :key="item.name">
                                <div class="card border-danger">
                                    <img :src="item.image" class="card-img-top item-img" :alt="item.name">
                                    <div class="card-body text-center">
                                        <h5 class="card-title" v-text="item.name"></h5>
                                        <p class="card-text" v-text="item.points + ' Points'"></p>
                                        <!-- Conditionally render buttons based on purchase status -->
                                        <button v-if="!item.purchased" class="btn btn-primary"
                                            @click="purchaseItem(item)">
                                            Buy Now
                                        </button>
                                        <button v-else class="btn"
                                            :class="item.selected ? 'btn-warning' : 'btn-success'"
                                            @click="selectItem(item)" v-text="item.selected ? 'Selected' : 'Select'">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Background Shop Tab Content -->
                    <div class="tab-pane fade" id="backgroundShop" role="tabpanel" aria-labelledby="background-tab">
                        <div class="row g-4 shop-section background-shop" id="background-shop">
                            <div class="col-md-4" v-for="item in backgroundItems" :key="item.name">
                                <div class="card border-danger">
                                    <img :src="item.image" class="card-img-top item-img" :alt="item.name">
                                    <div class="card-body text-center">
                                        <h5 class="card-title" v-text="item.name"></h5>
                                        <p class="card-text" v-text="item.points + ' Points'"></p>
                                        <!-- Conditionally render buttons based on purchase status -->
                                        <button v-if="!item.purchased" class="btn btn-primary"
                                            @click="purchaseItem(item)">
                                            Buy Now
                                        </button>
                                        <button v-else class="btn"
                                            :class="item.selected ? 'btn-warning' : 'btn-success'"
                                            @click="selectItem(item)" v-text="item.selected ? 'Selected' : 'Select'">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Purchase Confirmation Modal -->
<div class="modal fade" id="purchaseConfirmationModal" tabindex="-1" aria-labelledby="purchaseConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseConfirmationModalLabel">Purchase Successful</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p v-text="confirmationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Insufficient Points Modal -->
<div class="modal fade" id="insufficientPointsModal" tabindex="-1" aria-labelledby="insufficientPointsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insufficientPointsModalLabel">Insufficient Points</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You do not have enough points to purchase this item.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>