<!-- CSS Link -->
<link rel="stylesheet" href="../static/css/navbar.css">

<div id="navbar-placeholder">
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container-fluid">

            <!-- Navbar Toggler for Mobile View -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nvbr"
                aria-controls="nvbr" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand ms-2 fw-bold text-primary" href="/">SG Lost & Found</a>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="nvbr">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a :class="['nav-link', activeTab === 'home' ? 'active' : '']" href="/"
                            @click="setActiveTab('home')">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a :class="['nav-link', activeTab === 'dash_board' ? 'active' : '']" href="/dash_board"
                            @click="setActiveTab('dash_board')">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a :class="['nav-link', activeTab === 'listing' ? 'active' : '']" href="/listing"
                            @click="setActiveTab('listing', $event)">
                            Post Listing
                        </a>
                    </li>
                </ul>

                <button class="round" v-if="isLoggedIn" v-text="points"></button>

                <!-- Right-aligned Login or Profile Options -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">

                    <!-- Show Login if not logged in -->
                    <li v-if="!isLoggedIn" class="nav-item">
                        <a :class="['nav-link', activeTab === 'login' ? 'active' : '']" href="/login"
                            @click="setActiveTab('login')">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>

                    <!-- Show Username dropdown if logged in -->

                    
                    <li v-if="isLoggedIn" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i> <span v-text="username"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/user_profile">My Profile</a></li>
                            <li><a class="dropdown-item" href="#" @click="logout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Modal pop up for Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You need to log in to post a listing. Click "Ok" to be redirected to the login page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="startRedirectToLogin">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Loader spinner -->
<div v-if="showSpinner" class="overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>