<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="icon" href="{{ url_for('static', filename='./img/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">

    <!-- Sign Up CSS -->
    <link rel="stylesheet" href="static/css/signup.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>

    <!-- Firebase App (Core) SDK with compat versions for older-style imports -->
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-storage-compat.js"></script> <!-- Add this line -->

    <!-- Boxicons for input icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


</head>

<body>

    <!-- Navbar placeholder -->
    <div id="navbar-placeholder"></div>

    <!-- Background image -->
    <div class="background"></div>

    <!-- Form content -->
    <div id="app" class="d-flex justify-content-center align-items-center mt-5 px-3 px-md-0">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="card bg-light bg-opacity-75 shadow-lg rounded-3">
                <div class="card-body p-4">
                    <h1 class="text-center mb-4"><i class="bi bi-person-plus-fill me-2"></i>Sign Up</h1>

                    <form @submit.prevent="signUp">
                        <!-- Username -->
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bx bxs-user"></i></span>
                            <input v-model="username" type="text" class="form-control" placeholder="Username"
                                required />
                        </div>

                        <!-- Email -->
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bx bxs-envelope"></i></span>
                            <input v-model="email" type="email" class="form-control" placeholder="Email" required
                                @input="checkEmail" />
                        </div>

                        <!-- Password -->
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bx bxs-lock-alt"></i></span>
                            <input v-model="password" :type="showPassword ? 'text' : 'password'" class="form-control"
                                placeholder="Password" required @input="checkPasswordCriteria" />
                            <span class="input-group-text" @click="togglePasswordVisibility" style="cursor: pointer;">
                                <i :class="showPassword ? 'bx bx-show' : 'bx bx-hide'"></i>
                            </span>
                        </div>

                        <!-- Confirm Password -->
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bx bxs-lock-alt"></i></span>
                            <input v-model="confirmPassword" :type="showConfirmPassword ? 'text' : 'password'"
                                class="form-control" placeholder="Confirm Password" required
                                @input="checkConfirmPassword" />
                            <span class="input-group-text" @click="toggleConfirmPasswordVisibility"
                                style="cursor: pointer;">
                                <i :class="showConfirmPassword ? 'bx bx-show' : 'bx bx-hide'"></i>
                            </span>
                        </div>

                        <!-- Error message -->
                        <!-- <div v-if="errorMessage" class="errorMessage">{{ errorMessage }}</div> -->

                        <!-- Sign Up button -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="signup-button">Sign Up</button>
                        </div>

                        <br>

                        <!-- Password validation -->
                        <div v-if="isPasswordInvalid" class="text-danger mb-3 d-flex justify-content-center">
                            <ul>
                                <li v-for="problem in passwordvalidation" :key="problem" v-text="problem"></li>
                            </ul>
                        </div>

                        <!-- Confirm Password validation -->
                        <div v-if="isConfirmPasswordInvalid" class="text-danger mb-3 d-flex justify-content-center">
                            Confirm password must match the password.</div>


                        <!-- Email validation -->
                        <div v-if="isEmailInvalid" class="text-danger mb-3 d-flex justify-content-center">Please enter a
                            valid email address.</div>


                        <!-- Divider -->
                        <div class="d-flex align-items-center justify-content-center my-4">
                            <hr class="flex-grow-1">
                            <span class="mx-2 text muted">or</span>
                            <hr class="flex-grow-1">
                        </div>

                        <!-- Register -->
                        <p class="text-center mt-3">Already have an account? <a href="/login"
                                class="text-decoration-none">Login</a></p>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign-Up Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: green;">
                    <h5 class="modal-title" id="successModalLabel">
                        <i class="fas fa-check-circle me-2"></i> Success!
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p class="mb-0" style="font-size: 1.1rem;">
                        You have signed up successfully! Redirecting you to the login page...
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer placeholder -->
    <div id="footer-placeholder"></div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Load the JavaScript to include the footer -->
    <script src="../static/js/footer.js"></script>

    <!-- Load the Javascript to include signup.js -->
    <script type="module" src="../static/js/signup.js"></script>

    <!-- Load the JavaScript to include the Navbar -->
    <script type="module" src="../static/js/navbar.js"></script>
</body>

</html>