<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <link rel="icon" href="{{ url_for('static', filename='./img/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>

    <link rel="stylesheet" href="static/css/userprofile.css">

    <!-- Firebase App (Core) SDK with compat versions for older-style imports -->
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-storage-compat.js"></script> <!-- Add this line -->
</head>

<body>
    <!-- Navbar placeholder -->
    <div id="navbar-placeholder"></div>
    <!-- Load the JavaScript to include the Navbar -->
    <script type='module' src="../static/js/navbar.js"></script>

    <div id='profile' class="container"
        data-default-profile-url="{{ url_for('static', filename='img/profile-icon.jpg') }}">
        <!-- Vue wrapper with dynamic background -->
        <div class="main-wrapper">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 profileborder bg1">
                    <div class="row profile align-items-start">
                        <div class="col-12 col-md-3 text-center ">
                            <div class="profile-image-container">
                                <!-- Border overlay -->
                                <img v-if="selectedBorder" :src="selectedBorder" class="border-overlay"
                                    alt="Profile Border">

                                <!-- Profile image -->

                                <img class="profile-img img-fluid" :src="profileImageURL" alt="Profile Image">

                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-center text-md-start pt-md-0 pt-4">
                            <div class="profile_name" v-text="username"></div>
                            <br>
                            <div class="profile_username" v-text="email"></div>

                            <div class="profile_description" v-text="profiledesc"></div>
                        </div>
                        <div class="col-12 col-md-3 text-center pt-md-0 pt-4">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editProfileModal" @click="openEditModal" style="border-radius: 30px;">
                                <i class="bi bi-pencil-fill"></i> <span class="edit-text">Edit Profile</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-9 listborder bg2">
                    <div class="row">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="found-items-tab" data-bs-toggle="tab"
                                    data-bs-target="#found-items" type="button" role="tab" aria-controls="found-items"
                                    aria-selected="true">
                                    <i class="bi bi-geo-alt"></i> Found Items
                                </button>

                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="lost-items-tab" data-bs-toggle="tab"
                                    data-bs-target="#lost-items" type="button" role="tab" aria-controls="lost-items"
                                    aria-selected="false">
                                    <i class="bi bi-exclamation-circle"></i> Lost Items
                                </button>
                            </li>
                        </ul>
                    </div>

                    <br>
                    <br>

                    <div v-if="loading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content" id="myTabContent">

                        <!-- Found Items Content -->
                        <div class="tab-pane fade show active" id="found-items" role="tabpanel"
                            aria-labelledby="found-items-tab">
                            <div class="row center-on-col-8">
                                <div class="col-lg-4 col-md-6 col-8 mb-4 " v-for="item in paginatedItems"
                                    :key="item.id">
                                    <div class="hero" v-if="!item.expanded">
                                        <img class="hero-profile-img" :src="item.imageURL" alt="Listing Image">
                                        <div class="hero-description-bk" :style="itemBackgroundStyle(item)"></div>
                                        <div class="hero-logo">
                                            <img :src="item.profileImageURL" style="background:black"
                                                alt="User Profile Picture">
                                        </div>
                                        <div class="hero-description">
                                            <p v-text="item.item_name"></p>
                                        </div>
                                        <button class="edit-listing" @click="openEditListingModal(item)">
                                            Edit
                                        </button>
                                        <button class="hero-btn" @click="toggleExpand(item)">
                                            Expand
                                        </button>
                                    </div>

                                    <div v-else class="card-content-expanded hero"
                                        :style="expandedCardBackgroundStyle(item)">
                                        <h3 class="card-title list-item-name" v-text="item.item_name"
                                            style="text-align: center; border-bottom: 1px solid lightgrey; padding-bottom: 5px;">
                                        </h3>
                                        <p class="mb-1 mt-1"><strong class="list-text"><i class="bi bi-card-text"></i>
                                                Description:</strong> <span class="list-text"
                                                v-text="item.item_description"></span></p>
                                        <p class="mb-1"><strong class="list-text"><i class="bi bi-clock"></i> Found
                                                Timestamp:</strong> <span class="list-text"
                                                v-text="formatTimestamp(item.found_timestamp)"></span>
                                        </p>
                                        <p class="mb-1"> <strong class="list-text"><i class="bi bi-geo-alt"></i> Handoff
                                                Location:</strong> <span class="list-text"
                                                v-text="item.handoff_location"></span></p>
                                        <p class="mb-2"><strong class="list-text"><i class="bi bi-hand-thumbs-up"></i>
                                                Handoff Method:</strong> <span class="list-text"
                                                v-text="item.handoff_method"></span></p>



                                        <div class="button-container">
                                            <button class="return return-button" @click="toggleExpand(item)">
                                                Return
                                            </button>
                                            <button class="complete archive-button" @click="confirmArchive(item)"
                                                v-if="!item.archived">
                                                Complete
                                            </button>
                                        </div>

                                        <div v-if="showConfirmation && itemToConfirm === item"
                                            class="confirmation-overlay">
                                            <p>Are you sure you want to complete this item?</p>
                                            <button @click="archiveConfirmedItem" class="btn btn-success">Yes</button>
                                            <button @click="closeConfirmation" class="btn btn-secondary">No</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Pagination Controls -->
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-primary me-2" @click="previousPage"
                                    :disabled="currentPage == 1">Previous</button>
                                <button class="btn btn-primary" @click="nextPage"
                                    :disabled="currentPage * itemsPerPage >= foundItems.length">Next</button>
                            </div>
                        </div>


                        <!-- Requested Items Content -->
                        <div class="tab-pane fade" id="lost-items" role="tabpanel" aria-labelledby="lost-items-tab">
                            <div class="row center-on-col-8">
                                <div class="col-lg-4 col-md-6 col-8 mb-4 " v-for="item in paginatedLostItems"
                                    :key="item.id">
                                    <div class="hero" v-if="!item.expanded">
                                        <img class="hero-profile-img" :src="item.imageURL" alt="Listing Image">
                                        <div class="hero-description-bk" :style="itemBackgroundStyle(item)"></div>
                                        <div class="hero-logo">
                                            <img :src="item.profileImageURL" style="background:black"
                                                alt="User Profile Picture">
                                        </div>
                                        <div class="hero-description">
                                            <p v-text="item.item_name"></p>
                                        </div>
                                        <button class="edit-listing" @click="openEditListingModal(item)">
                                            Edit
                                        </button>
                                        <button class="hero-btn" @click="toggleExpand(item)">
                                            Expand
                                        </button>
                                    </div>

                                    <div v-else class="card-content-expanded hero"
                                        :style="expandedCardBackgroundStyle(item)">
                                        <h3 class="card-title list-item-name" v-text="item.item_name"
                                            style="text-align: center; border-bottom: 1px solid lightgrey; padding-bottom: 5px;">
                                        </h3>
                                        <p class="mb-1 mt-1"><strong class="list-text"><i class="bi bi-card-text"></i>
                                                Description:</strong> <span class="list-text"
                                                v-text="item.item_description"></span></p>
                                        <p class="mb-1"><strong class="list-text"><i class="bi bi-clock"></i> Found
                                                Timestamp:</strong> <span class="list-text"
                                                v-text="formatTimestamp(item.found_timestamp)"></span>
                                        </p>
                                        <p class="mb-1"> <strong class="list-text"><i class="bi bi-geo-alt"></i> Handoff
                                                Location:</strong> <span class="list-text"
                                                v-text="item.handoff_location"></span></p>
                                        <p class="mb-2"><strong class="list-text"><i class="bi bi-hand-thumbs-up"></i>
                                                Handoff Method:</strong> <span class="list-text"
                                                v-text="item.handoff_method"></span></p>



                                        <div class="button-container">
                                            <button class="return return-button" @click="toggleExpand(item)">
                                                Return
                                            </button>
                                            <button class="complete archive-button" @click="confirmArchive(item)"
                                                v-if="!item.archived">
                                                Complete
                                            </button>
                                        </div>

                                        <div v-if="showConfirmation && itemToConfirm === item"
                                            class="confirmation-overlay">
                                            <p>Are you sure you want to complete this item?</p>
                                            <button @click="archiveConfirmedItem" class="btn btn-success">Yes</button>
                                            <button @click="closeConfirmation" class="btn btn-secondary">No</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Pagination Controls -->
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-primary me-2" @click="previousPageLost"
                                    :disabled="currentPageLost == 1">Previous</button>
                                <button class="btn btn-primary" @click="nextPageLost"
                                    :disabled="currentPageLost * itemsPerPage >= lostItems.length">Next</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

            <!-- Edit Listing Modal Structure -->
            <div class="modal fade" id="editListingModal" tabindex="-1" aria-labelledby="editListingModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editListingModalLabel">
                                <i class="bi bi-pencil-fill"></i> Edit Listing
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Listing Editing Form -->
                            <form>
                                <div class="mb-3">
                                    <label for="itemName" class="form-label">Item Name</label>
                                    <input type="text" class="form-control" id="itemName" v-model="tempItem.item_name">
                                </div>
                                <div class="mb-3">
                                    <label for="itemDescription" class="form-label">Description</label>
                                    <textarea class="form-control" id="itemDescription" rows="3"
                                        v-model="tempItem.item_description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="handoffLocation" class="form-label">Handoff Location</label>
                                    <input type="text" class="form-control" id="handoffLocation"
                                        v-model="tempItem.handoff_location">
                                </div>
                                <div class="mb-3">
                                    <label for="handoffMethod" class="form-label">Handoff Method</label>
                                    <select class="form-control" id="handoffMethod" v-model="tempItem.handoff_method">
                                        <option value="Mail">Mail</option>
                                        <option value="In-Person">In-Person</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="saveListingChanges"
                                data-bs-dismiss="modal">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Success Modal for profile Structure -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Profile Updated Successfullly
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


            <!-- Success Modal Structure -->
            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModalLabel">Success</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Listing updated successfully!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>




            <!-- Modal Structure -->
            <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProfileModalLabel">
                                <i class="bi bi-person"></i> Edit Profile
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <!-- Profile Editing Form -->
                            <form>
                                <div class="mb-3">
                                    <label for="profileImage" class="form-label">Profile Image</label>
                                    <input type="file" class="form-control" id="profileImage"
                                        @change="handleFileUpload">
                                </div>

                                <div class="mb-3">
                                    <label for="profileName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="profileName" v-model="tempUsername">
                                </div>
                                <div class="mb-3">
                                    <label for="profileDescription" class="form-label">Description</label>
                                    <textarea class="form-control" id="profileDescription" rows="3"
                                        v-model="tempProfiledesc" maxlength="165"></textarea>
                                    <small class="redtext" v-text="charactersRemaining"></small>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="saveChanges"
                                data-bs-dismiss="modal">Save
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!-- Footer placeholder -->
    <div id="footer-placeholder"></div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Check if the user is logged in by verifying session storage
        if (sessionStorage.getItem('loggedIn') !== 'true') {
            window.location.href = '/login'; // Redirect to login if not logged in
        }

    </script>

    <!-- Load the JavaScript to include the footer -->
    <script src="../static/js/footer.js"></script>



    <!-- userprofile.js-->
    <script type='module' src="../static/js/userprofile.js"></script>

</body>

</html>